body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 20% 80%; 
    height: 100%;
    gap: 4px;
    resize: both;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
   
.sidebar{
    background-color: #243c5a;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    grid-row: 1 / 6;
    color: #f8fafc;
    font-weight: bold;
    line-height: 2;
    padding-right: 30px;
}

.sidebar button {
    background-color: #243c5a;
    color: #f8fafc;
    font-weight: bold;
    height: 50px;
    font-size: 16px;
    border-radius: 16px;
    padding: 0 10px; 
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    
}

.sidebar li img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-right: 10px;    
}

button {
    cursor: pointer;
}

.dashboard-icon {
    display: flex;
    font-size: 20px;
}

.dashboard-image {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 40px;  
}

.icon-logo-name {
    display: flex;
    align-items: center;
}
.menu1 button, .menu2 button {
    margin: 5px;
}

.menu1 li, .menu ul {
    display: grid;
    grid-row: 2/3;
}

.menu2 li {
    display: grid;
    grid-row: 4/5;
}

.header {
    background-color: #f8fafc;
    display: grid;
    grid-row: 1;
    grid-template-rows: repeat(2, 1fr);  
}

.header1  {
   padding-top: 10px;
   grid-row: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 50px ;
}
.topnav {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

input {
    width: 500px;
    height: 25px;
    border-radius: 10px;
    background-color: #cbd5e1;
    border: none;
}

.line1, .line2 {
    line-height: 0.25;
    font-weight: bold;
}

.line1 {
    font-size: small;  
}
.line2 {
    font-size: large;
}

.search-image {
    width: 35px;
    background-color:#f8fafc;
    border: none;  
}
.logo, .logo2 {
    display: flex;   
}

.logo { 
    height: 50px;
    width: 50px;
    justify-content: center;
}

.logo2 {
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
}

.new-upload-share, .header2-logo {
    display: flex;
    align-items: center;
}

.button1, .button2, .button3 {
    background-color: #243c5a;
    color: #f8fafc;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 16px;
    margin: 10px;
}

.personal-name {
    font-weight: bold;
}

.header2 {
    grid-row: 2;
    display: flex;
    justify-content: space-between;       
}

.header2-logo {
    padding-left: 20px;
}

.notification-icon {
    height: 20px;
    width: 20px;
}

.main {     
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));   
    gap: 40px;
    padding: 10px;   
    height: fit-content;
}

div[class^="main-project"] button {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    color: #f8fafc;           
    padding: 10px 20px;                
    border-radius: 5px;        
    cursor: pointer; 
    width: 200px;         
    font-weight: bold;
}

div[class^="main-button*"] button  {
    display: flex; 
    justify-content:space-around;    
}

[class^="main-project"], .main-announcement-container, .main-trendingbox {
    display: grid;
    background-color:#243c5a;
    padding: 20px;
    line-height: 1.5;
}

[class^="main-project"] {
    background-position: center;
    color: #f8fafc;
    background-size: cover;
    font-weight:800;
}

.main-project1 {
    background-image: url('images/main-images/amazon-background.jpeg');
}

.main-project2 {
    background-image: url('./images/main-images/pho-background.jpg');
}

.main-project3 {
    background-image: url('./images/main-images/signupform.jpg');
    color: #243c5a;
}

.main-project4 {
    background-image: url('./images/main-images/library.jpg');
}

[class^="main-project"], .main-announcement-container, .main-trendingbox {
    box-shadow:
    0px 1.6px 2.7px rgba(0, 0, 0, 0.236),
    0px 4.1px 6.9px rgba(0, 0, 0, 0.337),
    0px 8.3px 14.2px rgba(0, 0, 0, 0.423),
    0px 17.2px 29.2px rgba(0, 0, 0, 0.524),
    0px 47px 80px rgba(0, 0, 0, 0.76)
  ;
}

.main-title {
    grid-column: 1 / 4 ;
    grid-row: 1 ;
    display: grid;
}

.main-project1, .main-project3, .main-project5 {
    grid-column: 1 / 5;
}

.main-project2, .main-project4, .main-project6 {
    grid-column: 5 / 9; 
}

.main-project1, .main-project2 {
    grid-row: 2 / 5;
}

.main-project3, .main-project4 {
    grid-row: 5 / 8;
}

.main-project5, .main-project6 {
    grid-row: 8 / 11;
}

.main-announcement-container {
    grid-column: 9 / 11;
    grid-row: 2 / 6;
    color: #f8fafc;
}

.main-trendingbox {
    grid-column: 9 / 11;
    grid-row: 7 / 11;
    color: #f8fafc;
}

.main-announcement, .main-trending {
    display: grid;
    grid-column: 9 / 10;  
}

.main-announcement {
    grid-row: 1 ;
}

.main-trending {
    grid-row: 6;
}
