body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }


  .container {
    display: grid;
    grid-template-columns: 1fr 5fr; /* 1 fraction for the sidebar, 5 fractions for the main content */
    grid-template-rows: 20% 80%; /* 20% of the container's height for the header, 80% for the main content */
    height: 100%; /* Container height to fill the viewport */
    gap: 4px;
    resize: both;
    overflow: auto;
}
   

.sidebar{
    background-color: #243c5a;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    grid-row: 1 / 6;
    color: #f8fafc;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 2;
}

.dashboard-icon {
    display: flex;
    font-size: 20px;

}
.dashboard-image {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 40px;  
}

.menu1 li, .menu ul {
    display: grid;
    grid-row: 2/3;
}

.menu2 li {
    display: grid;
    grid-row: 4/5;
}

.header {
    background-color: #f8fafc;
    display: grid;
    grid-row: 1;
    grid-template-rows: repeat(2, 1fr);  
}

.header1  {
   padding-top: 15px;
   grid-row: 1;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.topnav {
    display: flex;
    justify-content: center;
}

input {
    width: 600px;
    height: 25px;
    border-radius: 10px;
    background-color: #cbd5e1;
    border: none;
}

.search-image {
    width: 35px;
    background-color:#f8fafc;
    border: none;  
}
.logo, .logo2 {
    height: 50px;
    width: 50px;
    display: flex;
}


.personal-name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header2 {
    grid-row: 2;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header2-logo {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.notification-icon {
    height: 20px;
    width: 20px;
}

.main {
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);   
    gap: 15px;
    padding: 10px;
}

[class^="main-project"], .main-announcement-container, .main-trendingbox {
    display: grid;
    background-color: white;
}

[class^="main-project"]{
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.main-project1, .main-project3, .main-project5 {
    grid-column: 1 / 4;
}

.main-project2, .main-project4, .main-project6 {
    grid-column: 4 / 7; 
}

.main-project1, .main-project2 {
    grid-row: 2 / 5;
}

.main-project3, .main-project4 {
    grid-row: 5 / 8;
}

.main-project5, .main-project6 {
    grid-row: 8 / 11;
}

.main-announcement-container {
    grid-column: 7 / 10;
    grid-row: 2 / 6;
}

.main-trendingbox {
    grid-column: 7 / 10;
    grid-row: 7 / 11;
}

.main-announcement {
    display: grid;
    grid-column: 7 / 10;
    grid-row: 1 ;
}

.main-trending {
    display: grid;
    grid-column: 7 / 10;
    grid-row: 6;
}
